# Libraries

In [ ]:
# importing the libraries
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

# Load data

Load dataset and make it to pandas dataframe.

In [ ]:
df =  pd.read_csv('steel-plates-fault_csv.csv')
df.head(10)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
0,42,50,270900,270944,267,17,44,24220,76,108,...,0.8182,-0.2913,0.5822,1,0,0,0,0,0,1
1,645,651,2538079,2538108,108,10,30,11397,84,123,...,0.7931,-0.1756,0.2984,1,0,0,0,0,0,1
2,829,835,1553913,1553931,71,8,19,7972,99,125,...,0.6667,-0.1228,0.2150,1,0,0,0,0,0,1
3,853,860,369370,369415,176,13,45,18996,99,126,...,0.8444,-0.1568,0.5212,1,0,0,0,0,0,1
4,1289,1306,498078,498335,2409,60,260,246930,37,126,...,0.9338,-0.1992,1.0000,1,0,0,0,0,0,1
5,430,441,100250,100337,630,20,87,62357,64,127,...,0.8736,-0.2267,0.9874,1,0,0,0,0,0,1
6,413,446,138468,138883,9052,230,432,1481991,23,199,...,0.9205,0.2791,1.0000,1,0,0,0,0,0,1
7,190,200,210936,210956,132,11,20,20007,124,172,...,0.5000,0.1841,0.3359,1,0,0,0,0,0,1
8,330,343,429227,429253,264,15,26,29748,53,148,...,0.5000,-0.1197,0.5593,1,0,0,0,0,0,1
9,74,90,779144,779308,1506,46,167,180215,53,143,...,0.9024,-0.0651,1.0000,1,0,0,0,0,0,1

# Preprocess
1.Split the dataset into a training set (80%) and a test set (20%).
2.Preprocess the input features by normalizing them to have zero mean and
unit variance.

<font size="5">Split the dataset</font>

Data splitting, or commonly known as train-test split, is the partitioning of data into subsets for model training and evaluation separately. Since the test set is not specified beforehand, we have to split the dataset into train and test set in an ideal proportion.

In [ ]:
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

In [ ]:
train_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
1917,154,169,260124,260136,75,27,17,9948,125,143,...,-0.2000,0.0362,0.3068,0,0,0,0,0,0,2
808,1121,1128,1789332,1789337,17,9,6,2240,115,150,...,-0.2857,0.0294,0.1441,0,0,0,1,0,0,1
680,41,216,2708878,2708939,6298,275,134,654634,42,126,...,-0.6514,-0.1879,1.0000,0,0,1,0,0,0,1
534,129,157,86408,86427,276,39,26,33858,115,135,...,-0.3214,-0.0416,0.8223,0,0,1,0,0,0,1
192,436,442,530968,530985,63,17,17,6374,90,116,...,0.6471,-0.2096,0.2083,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,1192,1205,521912,521925,101,22,13,11601,108,125,...,0.0000,-0.1027,0.2914,0,0,0,0,0,1,1
1294,14,24,149048,149070,150,12,22,17566,99,140,...,0.5454,-0.0851,0.3663,0,0,0,0,0,0,2
860,615,622,2188217,2188232,57,13,15,6560,107,127,...,0.5333,-0.1009,0.2116,0,0,0,0,1,0,1
1459,220,229,3094414,3094424,54,10,10,6091,104,124,...,0.1000,-0.1188,0.1954,0,0,0,0,0,0,2
1126,822,842,820681,820708,304,30,28,34001,85,133,...,0.2593,-0.1262,0.8299,0,0,0,0,0,1,1

In [ ]:
test_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
1605,1117,1154,1194359,1194414,1055,69,56,110262,72,125,...,0.3273,-0.1835,1.0000,0,0,0,0,0,0,2
1502,1572,1610,337559,337645,1570,176,128,128770,29,111,...,0.5581,-0.3592,1.0000,0,0,0,0,0,0,2
70,1617,1628,2095494,2095507,89,14,13,7804,77,100,...,0.1539,-0.3150,0.2570,1,0,0,0,0,0,1
976,1317,1324,2166062,2166078,78,12,16,9381,110,132,...,0.5625,-0.0604,0.2195,0,0,0,0,0,1,1
1052,386,394,1304617,1304626,51,10,9,5795,100,133,...,0.1111,-0.1123,0.1773,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,1295,1308,4061997,4062020,138,25,25,7331,21,79,...,0.4348,-0.5850,0.4946,0,0,0,0,0,0,2
530,39,192,29559,29611,4915,248,153,497404,33,124,...,-0.6601,-0.2094,1.0000,0,0,1,0,0,0,1
613,41,213,1637218,1637282,6206,257,128,641502,39,127,...,-0.6279,-0.1924,1.0000,0,0,1,0,0,0,1
554,39,172,334925,334972,4123,177,90,426267,40,126,...,-0.6466,-0.1923,1.0000,0,0,1,0,0,0,1
1272,1293,1316,600561,600841,2643,170,285,271889,44,125,...,0.9179,-0.1963,1.0000,0,0,0,0,0,0,2

In [ ]:

# find the unique values of the column
unique_values = df['Class'].unique()

# print the unique values
print(unique_values)

[1 2]

#  normalizing

---

In [ ]:

# create a list of column names (excluding the target column)
input_feature_columns = [col for col in df.columns if col != 'Class']

# print the list of input feature column names
print(input_feature_columns)

['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33']

In [ ]:
# select only the columns containing input features
X_train_features = train_df.iloc[:, :len(input_feature_columns)]

# normalize the input features
scaler = StandardScaler()
model_transfarm = scaler.fit(X_train_features)
train_features_normalized = model_transfarm.transform(X_train_features)

# convert the numpy array of normalized features back into a pandas dataframe
train_features_normalized = pd.DataFrame(train_features_normalized, columns=input_feature_columns)

# combine the input features with other columns in the original training dataframe
# train_normalized = pd.concat([train_features_normalized, train_df.iloc[:, len(input_feature_columns):]], axis=1)

train_normalized = train_features_normalized

In [ ]:
# assume 'df_test' is your input feature DataFrame
test_features = test_df.iloc[:, :len(input_feature_columns)]
test_features_normalized = model_transfarm.transform(test_features)
test_features_normalized = pd.DataFrame(test_features_normalized, columns=input_feature_columns)



# combine the input features with other columns in the original training dataframe
test_normalized = test_features_normalized

test_normalized

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V24,V25,V26,V27,V28,V29,V30,V31,V32,V33
0,1.036545,1.065514,-0.266422,-0.266420,-0.157725,-0.138133,-0.062358,-0.185859,-0.408447,-0.293755,...,0.742349,0.480287,-0.381591,1.240223,-0.301087,-0.325885,-0.497583,-0.198791,-0.176718,-0.519662
1,1.915939,1.989433,-0.755065,-0.755042,-0.063380,0.191250,0.089685,-0.150911,-1.769517,-1.073083,...,1.171569,0.946096,-1.627098,1.240223,-0.301087,-0.325885,-0.497583,-0.198791,-0.176718,-0.519662
2,2.002912,2.025903,0.247507,0.247480,-0.334690,-0.307441,-0.153161,-0.379328,-0.250183,-1.685413,...,-0.643052,0.130324,-1.313772,-0.962579,3.321296,-0.325885,-0.497583,-0.198791,-0.176718,-0.519662
3,1.423092,1.409957,0.287753,0.287727,-0.336705,-0.313598,-0.146826,-0.376350,0.794358,0.095910,...,-0.443589,0.954976,0.491043,-1.073756,-0.301087,-0.325885,-0.497583,-0.198791,-0.176718,1.924326
4,-0.376283,-0.474351,-0.203540,-0.203565,-0.341651,-0.319755,-0.161608,-0.383121,0.477831,0.151576,...,-0.996202,0.043944,0.123133,-1.198868,-0.301087,-0.325885,-0.497583,-0.198791,-0.176718,1.924326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,1.380572,1.377539,1.369028,1.368997,-0.325713,-0.273579,-0.127821,-0.380221,-2.022739,-2.854405,...,-0.095083,0.697247,-3.227755,-0.258156,-0.301087,-0.325885,-0.497583,-0.198791,-0.176718,-0.519662
385,-1.046941,-0.883631,-0.930722,-0.930716,0.549403,0.412890,0.142478,0.545169,-1.642906,-0.349421,...,0.688393,-1.512521,-0.565192,1.240223,-0.301087,-0.325885,2.009717,-0.198791,-0.176718,-0.519662
386,-1.043076,-0.841082,-0.013854,-0.013849,0.785906,0.440595,0.089685,0.817265,-1.452989,-0.182422,...,0.887855,-1.447534,-0.444682,1.240223,-0.301087,-0.325885,2.009717,-0.198791,-0.176718,-0.519662
387,-1.046941,-0.924154,-0.756568,-0.756566,0.404314,0.194328,0.009440,0.410843,-1.421336,-0.238088,...,0.591315,-1.485275,-0.443973,1.240223,-0.301087,-0.325885,2.009717,-0.198791,-0.176718,-0.519662
388,1.376706,1.393748,-0.605072,-0.604939,0.133187,0.172780,0.421223,0.119336,-1.294725,-0.293755,...,2.305321,1.672258,-0.472328,1.240223,-0.301087,-0.325885,-0.497583,-0.198791,-0.176718,-0.519662

In [ ]:
x_train = train_normalized.iloc[:, :len(input_feature_columns)].to_numpy()
y_train = train_df['Class'].to_numpy()

x_test = test_normalized.iloc[:, :len(input_feature_columns)].to_numpy()
y_test = test_df['Class'].to_numpy()

In [ ]:
x_train

array([[-0.82467683, -0.93023233, -0.79922764, ..., -0.19879072,
        -0.17671796, -0.51966249],
       [ 1.04427617,  1.01283401,  0.07289877, ...,  5.03041596,
        -0.17671796, -0.51966249],
       [-1.04307568, -0.83500385,  0.59732733, ..., -0.19879072,
        -0.17671796, -0.51966249],
       ...,
       [ 0.06631317, -0.01239182,  0.30038786, ..., -0.19879072,
         5.65873454, -0.51966249],
       [-0.69711644, -0.80866405,  0.81720332, ..., -0.19879072,
        -0.17671796, -0.51966249],
       [ 0.46638894,  0.43335854, -0.47953499, ..., -0.19879072,
        -0.17671796,  1.92432593]])

In [ ]:
y_train

array([2, 1, 1, ..., 1, 2, 1])

# Training

In this part I make class MehNaiveByes with algorithm of naive byes in fit and predict. with base of vector given Item.

برای پیاده سازی شبکه بیز براساس داده‌های پیوسته نیاز داریم که بجای شماردن اتفاق افتادن یک ویژگی در یک برچسب مشخص و پیدا کردن آن از داده‌های هر ویژگی یک منحنی نرمال برحسب واریانس و میانگین بسازیم سپس احتمال هر عدد  رابراساس  احتمالی دراین منحنی نرمال می‌گیرد بدست می‌آوریم البته به ازای هر کدام از برچسب‌ها برای هرمتغیر یک منحنی نرمال می‌سازیم  و به ازای هر برچسب از منحنی نرمال همان متغیراستفاده می‌کنیم در نهایت با ضرب این احتمال‌ها و بزرگی بدست آمده برچسب را پیدا می‌کنیم. از آنجایی که ممکن بود عدد ما خیلی کوجک شود به جای ضرب از لگاریتم احتمال و جمع لگاریتم‌ها استفاده کردیم که همان معنا را می‌دهد همچنین برای اسموت کرد احتمالات از یک الفا استفاده کردیم که در بدترین حالت‌ها نیز برای یک عدد پیوسته متغیر ما احتمالی را در نظر بگیرد.

In [ ]:
class MehNaiveBayes_on:
    def __init__(self, alpha=1):
        self.alpha = alpha

    def fit(self, vectors_feature, y_train, list_label):
        n_samples, n_features = vectors_feature.shape
        self.classes = np.unique(list_label)
        n_classes = len(self.classes)
        self.mean = np.zeros((n_classes, n_features))
        self.var = np.zeros((n_classes, n_features))
        self.priors = np.zeros(n_classes)

        for i, c in enumerate(self.classes):
            X_c = vectors_feature[y_train == c]
            self.mean[i] = X_c.mean(axis=0)
            self.var[i] = X_c.var(axis=0) + self.alpha # Laplace smoothing
            self.priors[i] = X_c.shape[0] / float(n_samples)

    def predict(self, vectors_feature, name_pos, name_neg):
        y_pred = []
        for vect in vectors_feature:
            pos_prob = np.log(self.priors[0])
            neg_prob = np.log(self.priors[1])
            for i in range(vectors_feature.shape[1]):
                x = vect[i]
                if x != 0:
                    pos_prob += np.log(self._pdf(x, self.mean[0][i], self.var[0][i]))
                    neg_prob += np.log(self._pdf(x, self.mean[1][i], self.var[1][i]))
            if pos_prob > neg_prob:
                y_pred.append(name_pos)
            else:
                y_pred.append(name_neg)
        return y_pred

    def _pdf(self, x, mean, var):
        numerator = np.exp(- (x - mean) ** 2 / (2 * var))
        denominator = np.sqrt(2 * np.pi * var)
        return numerator / denominator

In [ ]:
naive_beyes = MehNaiveBayes_on(0.5)
naive_beyes.fit(x_train, y_train,[1,2])

In [ ]:
y_pred = naive_beyes.predict(x_test,1,2)

# Test
Now we need to run inference on your test set

For Testing, I write class that have all function I need like accuracy_score, precision, recall, f1_measure and confusion_matrix_2D

In [ ]:
class Me_Calcu_Accuracy:
    @staticmethod
    def accuracy_score(y_main, y_pred):
        y_main = list(y_main)
        y_pred = list(y_pred)
        # find all true Item model find
        upper = sum([1 for i in range(len(y_main)) if y_main[i]==y_pred[i]])
        # find accuracy
        return upper/len(y_main)
    @staticmethod
    def precision(y_main, y_pred,name):
        y_main = list(y_main)
        y_pred = list(y_pred)
        # find true possetive
        true_pos = sum([1 for i in range(len(y_main)) if y_main[i]==y_pred[i] and y_main[i] == name])
        # Find all item was pos in our prediction list
        down = sum([1 for i in range(len(y_main)) if  y_pred[i] == name])
        return true_pos/down

    @staticmethod
    def recall(y_main, y_pred,name):
        y_main = list(y_main)
        y_pred = list(y_pred)

        # find true possetive
        true_pos = sum([1 for i in range(len(y_main)) if y_main[i]==y_pred[i] and y_main[i] == name])
        # Find all item was pos in our main list
        pos =  sum([1 for i in range(len(y_main)) if  y_main[i] == name])

        return true_pos/pos

    @staticmethod
    def f1_measure(y_main, y_pred,name):
        precision = Me_Calcu_Accuracy.precision(y_main, y_pred,name)
        recall = Me_Calcu_Accuracy.recall(y_main, y_pred,name)
        return 2 * (precision * recall)/(precision+recall)

    @staticmethod
    def confustion_matrix_2D(y_main, y_pred):
        y_main = list(y_main)
        y_pred = list(y_pred)
        set_item = set(y_main)
        list_set = list(set_item)
        set_item = (list_set[1],list_set[0])
        if len(set_item) != 2:
            raise "this item for binary"

        confusion_matrix = []
        k = 0
        for item in set_item :
            list_make = []
            if k == 0:
                list_make.append(sum([1 for i in range(len(y_main)) if y_main[i]==y_pred[i] and y_main[i] == item]))
                list_make.append(sum([1 for i in range(len(y_main)) if y_main[i]!=y_pred[i] and y_pred[i] == item]))
                k +=1
            else:
                list_make.append(sum([1 for i in range(len(y_main)) if y_main[i]!=y_pred[i] and y_pred[i] == item]))
                list_make.append(sum([1 for i in range(len(y_main)) if y_main[i]==y_pred[i] and y_main[i] == item]))


            confusion_matrix.append(list_make)

        print(set_item[0],set_item[1])
        for item in confusion_matrix:
            print(item)

In [ ]:
# y_pred = naive_beyes.predict(tfidf_test,"positive","negative")
score1 = Me_Calcu_Accuracy.accuracy_score(y_test,y_pred)

In [ ]:
score1

0.7892030848329049

بررسی الفاهای مختلف عملیات

smooting :

In [ ]:
list_of_alfa = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]

for item in list_of_alfa:
  naive_beyes = MehNaiveBayes_on(item)
  naive_beyes.fit(x_train, y_train,[1,2])
  y_pred = naive_beyes.predict(x_test,1,2)
  score1 = Me_Calcu_Accuracy.accuracy_score(y_test,y_pred)
  print(score1)

0.9948586118251928
0.9768637532133676
0.8997429305912596
0.8123393316195373
0.7892030848329049
0.781491002570694
0.7686375321336761
0.7506426735218509
0.7249357326478149
0.6940874035989717

# Evaluation
After training is finished, we need some metrics to evaluate the trained model on the test set. Here, you need to write code for utilizing the metrics bellow without the sklearn libraries!

Precision

In [ ]:
naive_beyes = MehNaiveBayes_on(0.1)
naive_beyes.fit(x_train, y_train,[1,2])
y_pred = naive_beyes.predict(x_test,1,2)

In [ ]:
precision = Me_Calcu_Accuracy.precision(y_test,y_pred,1)
print("precision : ",precision)

precision :  0.9919354838709677

Recall

In [ ]:
recall = Me_Calcu_Accuracy.recall(y_test,y_pred,1)
print("recall : ",recall)

recall :  1.0

F-measure

In [ ]:
f_measure = Me_Calcu_Accuracy.f1_measure(y_test,y_pred,1)
print("f1_measure L ",f_measure)

f1_measure L  0.9959514170040485

Confustion matrix

In [ ]:
Me_Calcu_Accuracy.confustion_matrix_2D(y_test,y_pred)

2 1
[141, 0]
[2, 246]